<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uprootlabs.trackme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.uprootlabs.trackme.OnBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.uprootlabs.trackme.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uprootlabs.trackme.MyPreferencesActivity"
            android:label="Settings" />

        <service
            android:name="com.uprootlabs.trackme.LocationService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.uprootlabs.trackme.UploadService"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.uprootlabs.trackme.DialogActivity"
            android:label="@string/title_activity_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.uprootlabs.trackme.DebugActivity"
            android:label="@string/title_activity_debug" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uprootlabs.trackme.MainActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>